streamlit==1.32.0
pandas==1.5.3
plotly==5.15.0
wordcloud>=1.8.0
networkx==3.0
matplotlib==3.7.1
openpyxl==3.1.2
konlpy>=0.5.0
folium==0.15.0
geopy>=2.0.0
streamlit-folium==0.15.0
Pillow==10.0.0
streamlit-wordcloud==0.2.0